extends layout

block content
  h1="Posts"
  div.posts
    each post in posts
      hr
      div.post
        h2.post-header=post.title
        p.post-body=post.body
        h4="Comments"
        div.comments
          each comment in post.comments
            div(id="comment-" + comment.id)
              b.comment-header=comment.name + " - " + comment.email
              div
                b.comment-delete(onclick='deleteComment(0, document.getElementById("comment-' + comment.id + '"))')="[click to delete]"
              p.comment-header=comment.body
